/* ==========================================================================
   button / components
   ========================================================================== */

.button {
    border: solid 5px var(--color-primary);
    border-radius: 50px;
    padding: var(--spacing-xs) var(--spacing-sm);
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-size: --font-size-cta;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-out;
    &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
        text-decoration: none;
    }
}