/* ==========================================================================
   header / components
   ========================================================================== */

.header {
    padding: var(--spacing-sm) 0;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav {
        ul {
            display: flex;
            gap: var(--spacing-md);
            list-style: none;
            padding: 0;
            margin: 0;
            a {
                color: var(--color-black);
                text-transform: uppercase;
                font-weight: 600;
                transition: all 0.3s ease-out;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
