/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: 400;
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--color-primary);
}

h2 {
    font-size: var(--font-size-h2);
    color: var(--color-black);
    font-weight: 600;
}

h3 {
    font-size: var(--font-size-h3);
    margin: 0;
    font-weight: 600;
}
